/* you can use this file to add CSS rules to all the routes in your application
- such as CSS reset rules, site-wide styles for HTML elements like links, and more

It's good practice to add it to your top-level component (root layout), though you 
can add it to any component as well
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
